<h2>These are all our ingredients</h2>

<div class="flex-container">
    <div class="column">
        <h3>Spirits</h3>
        <div class="type-list">
        <ul>
                <% @types.first.ingredients.each do |ingredient| %>
                    <li><%= link_to ingredient.name, ingredient_path(ingredient) %>
                <% end %>
                 </ul>
        </div>
    </div>

     <div class="column">
        <h3>Mixers</h3>
        <div class="type-list">
        <ul>
            <% @types.last.ingredients.each do |ingredient| %>
                <li><%= link_to ingredient.name, ingredient_path(ingredient) %>
            <% end %>
        </ul>
        </div>
    </div>

    <div id="garnishes", class="column">
        <h3>Garnishes</h3>
        <div class="type-list">
        <ul>
            <% @types.second.ingredients.each do |ingredient| %>
                <li><%= link_to ingredient.name, ingredient_path(ingredient) %>
            <% end %>
        </ul>
        </div>
    </div>
</div>

