
    <h2 >All our Users:</h2>



<div class="flex-container">
    <div class="column">
        <ul><% @users.each do |user| %>
            <li><%= link_to user.name, user_path(user) %></li>
        <% end %></ul>
    </div>
</div>