<h3><%= @ingredient.name %></h3>

<% @ingredient.cocktails.each do |cocktail| %>
    <%= link_to cocktail.name, cocktail_path(cocktail) %>
    <%= link_to cocktail.user.name, user_path(cocktail.user) %>
<% end %>
--------Need to add ingredient's cocktails w/ links----------

