/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 
 body{
    font-family: "Elsie",“Franklin Gothic”,sans-serif;
    background: url("background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 1450px;
  } 

.flex-container {
    align-items: center, top;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;  
}



.column {
    border-radius: 10px;
    /* border: 1px solid gray; */
    
    box-shadow: 3px 3px 24px rgba(0, 0, 0, 0.3);
    
    justify-content: space-between;
    background-color: rgba(244,194,194,0.6);
    /* opacity: 0.5; */
    padding: 35px;
    margin: 50px;
    height: 50vh;
    width: 100%;
    /* overflow: scroll; */
}

#spirits {
    margin-left: 200px
}

#garnishes {
    margin-right: 200px
}

h1 {
    align-items: center;
    display: flex; 
    flex-direction: row;
    justify-content: space-between; 
}

#bottom {
    margin-top: 100px;
}
/* 
#bot-mid {
    margin-right: 5%;
} */

/* #bot-right {
    margin-right: 10%;
} */

#new {
    margin: 100px;
}

.btn {
    background-color: rgba(176,224,230, 0.7);
    color: black;
    width: 10vh;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
    margin: 2px;
}

.btn:hover {
    color: black;
    background-color: rgba(176,224,230, 1);
}



.booze_image {
    height:22vh;
}











/* a:before{
    content:"/";
} */

 a:hover{
    text-emphasis: 2000;
    text-decoration: floralwhite;
}

li a{
    font-size: 1.5rem;
}

.hello{
    margin-right: 20px;
    font-size: 2.5vh;
}

.text-left{
    font-size: 2.5vh;

}

.bacon-butties{
    display: flex;
}

.newcocktail{
    height:130vh; 
}

/* .big-div {
    display: flex; */
/* } */

.form-embiggen {
    height: 1100px;
}

.homepage{
    height: 130px;
}